<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Completez votre inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="adresseForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Adresse 1</ion-label>
        <ion-input formControlName="adresse1" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Adresse 2</ion-label>
        <ion-input formControlName="adresse2" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ville</ion-label>
        <ion-input formControlName="ville" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Code Postal</ion-label>
        <ion-input formControlName="codePostal" type="text" required>
        </ion-input>
      </ion-item>

    

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Book Appointment</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>