
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Create Account</ion-title>
      </ion-toolbar>
    </ion-header>

    
      <ion-content>
        <form>
          <ion-row>
            <ion-col> 
              <ion-button 
               type="submit" 
               color="danger"
               (click)="GoogleAuth()" 
               expand="block">
                 Login with Google
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      

      <div class="ion-padding">
      <ion-button type="submit" class="ion-no-margin" ngClick="" >S'inscrire avec Facebook</ion-button>

      </div>


      <form (ngSubmit)="SignIn(credentials)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <!-- <ion-item>
            <ion-label position="stacked">Nom <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" [(ngModel)]="formulaire.nom" name="nom"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Prenom <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text"[(ngModel)]="formulaire.prenom" name="prenom"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Numero de telephone<ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="formulaire.numTel" name="numTel"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label position="stacked">Adresse mail<ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="credentials.email" name="mail" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Mot de passe<ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="credentials.password" name="password" type="password"></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label position="stacked">Addresse</ion-label>
          
            <ion-input placeholder="..." [(ngModel)]="formulaire.adresse1" name="adresse1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="..." [(ngModel)]="formulaire.adresse2" name="adresse2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Ville" [(ngModel)]="formulaire.ville" name="ville"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Code postal" [(ngModel)]="formulaire.codePostal" name="codePostal"></ion-input>
          </ion-item> -->
         

          <!-- <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item> -->
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" >Valider</ion-button>
        </div>
      </form>
    </ion-content>
  </ion-app>

  <!-- <script>
    const controller = document.querySelector('ion-alert-controller');
    let firstName, lastName;

    function processForm(event) {
      event.preventDefault();
      controller.create({
        header: 'Account Created',
        message: `Created account for: <b>${firstName} ${lastName}</b>`,
        buttons: [{
          text: 'OK'
        }]
      }).then(alert => alert.present());
    }

    function handleFirstNameValue(event) {
      firstName = event.target.value;
    }

    function handleLastNameValue(event) {
      lastName = event.target.value;
    }
  </script> -->
<!-- </body>
</html> -->