body {background-color:white}
#gros {padding-top: 50px; 
 padding-bottom: 50px;
 border: 3px solid #622200;text-align: center;width:600px;background-color:#E7A854 }
#connexion{position:relative;left:150px;
width: 300px;
 padding-top: 50px; 
 padding-bottom: 50px;
 border: 3px solid #622200; 
text-align: center;
 background: #E7A854;
 height:40px}
 
 button{position:relative;left:54.5px; top:-20px;
		background:url(button.gif);
		display:block;
		color:#622200;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
		width:191px;
	}