<ion-header>
  
  <ion-toolbar>
    <!-- <ion-title> -->
      <ion-item>
        <ion-thumbnail slot="end">
          <img :src="../assets/icon/logo.jpg">
        </ion-thumbnail>
         <ion-label position="floating">Souscolar</ion-label> 
      </ion-item>
    <!-- </ion-title> -->
  </ion-toolbar>
<!-- <meta charset="utf-8"/> 
	 <link rel="stylesheet" href="home.page.css"/>
<content> -->
  
</ion-header>

<ion-content>
  <ion-text >
      <h3 text-center><i>Des progres a son rythme avec une solution sur mesure</i></h3>
  </ion-text>
  
  <ion-img :src="../assets/icon/etude.jpg"></ion-img>
  <ion-text >
    <h2 text-center><b>Bienvenue</b></h2>
  </ion-text>
  <ion-text >
    <p>S'il vous plait lisez et acceptez notre <a [routerLink]="['/confidentialite']">politique de confidentialite. </a>Si vous cliquez sur continuer, c'est que vous acceptez nos conditions d'utilisation.</p>
  </ion-text>
  <ion-button expand="block" fill="solid" color="warning"  [routerLink]="['/registerparent']">Continuer</ion-button>
  <br/>
  <ion-button expand="block" fill="solid" color="medium"[routerLink]="['/login-page']">J'ai deja un compte</ion-button>

  <!-- -->
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
</ion-content>
