
<ion-header>
 
  <ion-toolbar>
    
      <!-- <ion-title>confidentialite</ion-title> -->
      <ion-icon size="large" src="../assets/icon/arrow-back-outline.svg" [routerLink]="['/home']"></ion-icon>
  
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>
  Toute information concernant un individu et gardée par un organisme, y compris (1) toute information pouvant être utilisée pour déterminer l’identité d’un individu, comme un nom, un numéro de sécurité sociale, une date et un lieu de naissance, le nom de jeune fille de la mère, ou informations biométriques ; et (2) toute autre information directement ou indirectement liée à un individu, comme des informations médicales, éducatives, financières ou professionnelles. 

Tandis que les « données non privées » sont définies comme :

 Des informations qui peuvent correspondre à une certaine personne, à un certain compte ou à un certain profil mais qui ne suffisent pas à identifier, contacter ou localiser la personne à qui appartient lesdites informations. 
</h2>
</ion-content>
